:root {
    --primary-color: rgb(78, 96, 126);
    --secondary-color: rgb(145, 204, 205);
    --tertiary-color: rgb(238, 238, 246);
    --fourth-color: rgb(42, 70, 81);
    --fifth-color: rgb(49, 52, 61);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    border: 2px solid var(--primary-color);
    padding: 10px 10px;
    margin: 5px;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 5px 0px 10px 0px;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg5.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
header h1 {
    background-color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--fourth-color);
    padding: 8px 0px 0px 50px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    padding: 15px 60px 0px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.15vw;
    text-shadow: 0 0 10px rgb(66 66 66 / 50%);
    border-bottom: 3px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: 2px 2px 5px var(--tertiary-color);
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLE START*/
.hero {
    font-family: BonVoyage, Georgia, Times, serif, light;
    background-image: url("../images/hero-bg.jpg");
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
}

.hero div {
    position: absolute;
    right: 0;
    padding: 10px 90px 0px 0px;
}

.hero h2 {
    background-color: var(--secondary-color);   
    font-size: 25px;
    color: var(--fourth-color);
    position: relative;
}

/* END HERO STYLES*/

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    color: var(--primary-color);
}

.primary-border {
border-color: var(--primary-color);
}

/* SECTION TITLE STYLES END */

/* CONTENT STYLES START */

.content section {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: left;
}

/* CONTENT STYLES END*/

/* ABOUT STYLES START*/
.intro h2 {
    text-align: right;
    margin: 30px;
}

.intro p {
    border-left: 3px solid;
    color: var(--primary-color);
    line-height: 1.7;
    font-size: 20px;
    text-align: justify;
    margin: 30px 70px 10px 0px;
    padding-left: 40px;
} 
/* ABOUT STYLES END */

/* WORK START */
.showcases h2 {
    text-align: right;
    margin: 30px;
}

.work-content {
    border-left: 3px solid;
    color: var(--primary-color);
    margin: 30px 70px 10px 0px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: -webkit-fill-available;
}

.work-content h3 {
    font-size: 20px;
    color: var(--fourth-color);
    padding: 10px;
}

.work-content p {
    font-size: 14px;
    color: var(--fourth-color);
    padding: 0px 10px 10px 10px;
}

.showcase-layer1 {
    background-image: url("../images/work_bg1.jpg");
    padding: 10px 1300px 0px 0px;
    border: 5px solid var(--secondary-color);
    margin: 10px;
}

.showcase-tag {
    background-color: var(--secondary-color);
    margin: 0px 10px 10px 0px;
}

.showcase-layer2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.secondary-border {
    border: 5px solid var(--secondary-color);
    margin: 10px;
    padding: 10px 540px 0px 0px;
}

.showcase2 {
    background-image: url("../images/work_bg2.jpg");
}

.showcase3 {
    background-image: url("../images/work_bg3.jpg");
}

.showcase-layer3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.showcase4 {
    background-image: url("../images/work_bg4.jpg");
}

.showcase5 {
    background-image: url("../images/work_bg5.jpg");
}

/* WORK END */

/* CONTACT START*/
.contact h2 {
    text-align: right;
    margin: 30px;
}

.contact-info {
    border-left: 3px solid;
    color: var(--primary-color);
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 0px 10px 0px;
}

.contact-info div {
    margin: 30px 0px 20px 0px;
}

.contact-info p {
    line-height: 1.7;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin: 10px 160px 10px 40px;
    border-bottom: 5px solid var(--primary-color);
} 
/* CONTACT END */