:root {
    --primary-color: rgb(78, 96, 126);
    --secondary-color: rgb(145, 204, 205);
    --tertiary-color: rgb(238, 238, 246);
    --fourth-color: rgb(42, 70, 81);
    --fifth-color: rgb(49, 52, 61);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px; 
    border: 2px solid var(--primary-color);
    padding: 10px 10px;
    margin: 5px;
  }

/* HEADER / NAV BAR STYLES START */

header {
    padding: 5px 0px 10px 0px;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg5.jpg");
    background-size: auto;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
header h1 {
    background-color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--fourth-color);
    padding: 8px 0px 0px 50px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    padding: 15px 60px 0px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.15vw;
    text-shadow: 0 0 10px rgb(66 66 66 / 50%);
    border-bottom: 3px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: 2px 2px 5px var(--tertiary-color);
}

/* HEADER / NAVBAR STYLES END */

/* HERO STYLE START*/
.hero {
    font-family: BonVoyage, Georgia, Times, serif, light;
    background-image: url("../images/hero-bg.jpg");
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
}

.hero div {
    position: absolute;
    right: 0;
    padding: 10px 90px 0px 0px;
}

.hero h2 {
    background-color: var(--secondary-color);   
    font-size: 25px;
    color: var(--fourth-color);
    position: relative;
}

/* END HERO STYLES*/

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 48px;
    color: var(--primary-color);
}

/* SECTION TITLE STYLES END */

/* CONTENT STYLES START */
.content {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* CONTENT STYLES END*/

/* ABOUT STYLES START*/
.content-display {
    display: inline-flex;
    justify-content: space-between;
}

.nav {
    width: 30%;
}

.nav h2 {
    text-align: right;
    margin: 30px;
}

.block-intro {
    width: 70%;
}

.block-intro p {
    
    color: var(--primary-color);
    line-height: 1.7;
    font-size: 20px;
    text-align: justify;
    margin: 30px 70px 10px 0px;
    padding: 0px 0px 10px 40px;
} 

.block-border {
    border-left: 3px solid;
}
/* ABOUT STYLES END */

/* WORK START */
.content a {
    text-decoration: none;
}

.content a:hover { 
    opacity: 50%;
    cursor: pointer;  
}

.block-showcases {
    color: var(--primary-color);
    margin: 30px 0px 10px 0px;
    padding-left: 40px;
    width: 70%;
}

.block-showcases h3 {
    font-size: 20px;
    color: var(--fourth-color);
    padding: 10px;
}

.block-showcases p {
    font-size: 14px;
    color: var(--fourth-color);
    padding: 0px 10px 10px 10px;
}

.showcase-layer1 {
    background-image: url("../images/eventHunter.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 5px solid var(--secondary-color);
    margin: 30px 70px 10px 0px;
    height: 500px;
}

.showcase-tag1 {
    background-color: var(--secondary-color);
    margin: 0px 700px 10px 0px;
    position: relative;
    top: 400px;
}

.showcase-layer2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 70px 10px 0px;
    height: 200px;
}

.primary-border {
    border: 5px solid var(--secondary-color);
}

.showcase-tag2 {
    background-color: var(--secondary-color);
    margin: 0px 240px 10px 0px;
    position: relative;
    top: 100px;
}

.showcase-width {
    width: 50%;
}

.showcase2 {
    background-image: url("../images/work_bg2.jpg");
    margin: 0px 10px 0px 0px;
}

.showcase3 {
    background-image: url("../images/work_bg3.jpg");
    margin: 0px 0px 0px 10px;
}

.showcase4 {
    background-image: url("../images/work_bg4.jpg");
    margin: 0px 10px 0px 0px;
}

.showcase5 {
    background-image: url("../images/work_bg5.jpg");
    margin: 0px 0px 0px 10px;
}

/* WORK END */

/* CONTACT START*/
.block-contact {
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px 10px 0px;
    width: 70%;
}

.block-contact p {
    line-height: 1.7;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    margin: 30px 70px 10px 40px;
    padding: 0px 0px 10px 0px;
    border-bottom: 5px solid var(--primary-color);
} 
/* CONTACT END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
  
    header nav {
        padding: 0px;
    }

    header nav ul {
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: 10px 0px 10px 0px;
    }
  
    header nav ul li a {
      font-size: 12px;
    }
  
    content section {
        flex-direction: column;
    }

    .block-border {
        border-top: 3px solid;
        border-left: none;
    }

    .block-intro p {
        margin: 30px 0px 10px 30px;
        padding: 0px 0px 10px 0px;
    }

    .block-showcases {
        margin: 30px 0px 10px 30px;
        padding-left: 0;
    }

    .block-contact {
        margin: 30px 0px 10px 30px;
    }

    .block-contact p {
        margin: 30px 70px 10px 0px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
      }
    
      header h1 {
          width: 100%;
          text-align: center;
          padding: 0px;
      }
    
      header nav {
          padding: 0px;
      }
  
      header nav ul {
          justify-content: space-around;
          flex-wrap: nowrap;
          margin: 10px 0px 10px 0px;
      }
    
      header nav ul li a {
        font-size: 10px;
      }
    
      content section {
          flex-direction: column;
      }
  
      .block-border {
          border-top: 3px solid;
          border-left: none;
      }
  
      .block-intro p {
          margin: 30px 0px 10px 30px;
          padding: 0px 0px 10px 0px;
      }
  
      .block-showcases {
          margin: 30px 0px 10px 30px;
          padding-left: 0;
      }
  
      .block-contact {
          margin: 30px 0px 10px 30px;
      }
  
      .block-contact p {
          margin: 30px 70px 10px 0px;
      }
}

